<p id="notice"><%= notice %></p>

<p>
  <strong>Hiker:</strong>
  <%= @trip.user.trail_name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @trip.name %>
</p>

<p>
  <strong>Start date:</strong>
  <% if @trip.days.present? %>
  <%= @trip.days.order(:date).first.date %>
  <% else %>
  No days.
  <% end %>
</p>

<p>
  <strong>End date:</strong>
  <% if @trip.days.present? %>
  <%= @trip.days.order(:date).last.date %>
  <% else %>
  No days.
  <% end %>
</p>

<p>
  <strong>Complete?</strong>
  <%= @trip.complete? %>
</p>

<% if @trip.days.present? %>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @trip.days.order(:date).each do |day| %>
      <tr>
        <td><%= day.date %></td>
        <td><%= day.distance %></td>
        <td><%= link_to 'Show', day %></td>
        <td><%= link_to 'Edit', edit_day_path(day) %></td>
        <td><%= link_to 'Destroy', day, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %>
<p>
	No days for this trip yet.
</p>
<% end %>

<p>
  <strong>Daily average:</strong>
  <%= @trip.days.average(:distance) %>
</p>

<%= link_to 'New Day', new_day_path %><br><br>
<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'All trips', trips_path %>
