<p id="notice"><%= notice %></p>

<p>
  <strong>Trip:</strong>
  <%= link_to @day.trip.name, trip_path(@day.trip) %>
</p>

<p>
  <strong>Date:</strong>
  <%= @day.date %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @day.distance %>
</p>

<%= link_to 'Edit', edit_day_path(@day) %> |
<%= link_to 'All days', days_path %>
